<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a href="/"><span class="glyphicon"></span>Main Blockchain</a>
      </li>
      <li>
        <a href="/test"><span class="glyphicon"></span>Test Blockchain</a>
      </li>
    </ul>
  </div>
</nav>
